
.layout {
    text-align: center;
    font-family: arial;
}
img.logo{
    width:100px;
    height:100px;
}
.active {
    color: green;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.show img {
    height: 100px;
    width: 100px;
}
.controls {
    width:100px;
    padding-top:15px;
}
.toggle {
    height:20px;
    width:20px;
}
.toggle--prev {
    float: left;
}
.toggle--next {
    float: right;
}
.search {
    position: relative;
}
.search form {
    margin: -1;
}
.search form input:focus {
    outline: none;
} 
.search-word {
    width: 358px;
    border: 1px solid #787878;
    padding: 3px;
    font-size: 15px;
}
.auto-results { 
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
}
.auto-results:hover {
    cursor: pointer;
} 
.auto-results ul {
    padding: 3px;
    margin: 0;
    width: 350px;
    list-style: none;
    text-align: center;
    display: inline-block;
    border: 1px solid #787878;
}
.auto-results ul li{
    text-align: left;
    clear: both;
}
.auto-results ul li:hover{
    background-color: #F0F0F0;
}
.preview {
    padding-bottom: 20px;
    bottom: 22px;
    left: 0;
    width: 100%;
}
.preview img {
    width: 100px;
    height: 100px;
}